html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

/* 네비게이션바*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  padding: 8px 12px;
}
.navbar__logo {
  font-family: "Bungee shade";
  font-size: 24px;
  color: #fff;
  padding: 8px 12px;
}
.navbar__menu {
  font-family: "Roboto";
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: #f1c40f;
  border-radius: 4px;
}
.navbar__icons {
  list-style: none;
  color: #fff;
  display: flex;
  padding-left: 0%;
}
.navbar__icons i {
  font-size: 24px;
  padding: 8px 12px;
}

/* 메인 본문 */
.main__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

/* 내 소개 메인 */
.about__section {
  flex: 1;
}
.about__top {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  text-align: center;
}

/* Game 페이지 */
:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 15px;

  /* annimation */
  --animation-duration: 300ms;
}

.game__name {
  font-family: "staatliches";
  font-size: 35px;
  color: #fff;
}

.Game__section {
  flex: 1;
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  width: 45vh;
  height: 45vh;
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}

/* footer 설정*/
.footer__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  padding: 8px 12px;
}
.footer__navoutro {
  font-size: 12px;
  color: #fff;
  padding: 8px 12px;
}
.footer__icons {
  list-style: none;
  font-size: 20px;
  color: #fff;
  display: flex;
  padding-left: 0%;
}
.footer__icons i {
  padding: 8px 12px;
}

/* 상단 네비게이션바 반응형 미디어 */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    justify-content: center;
    width: 100%;
  }

  .about__top {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
